/*Selector {
	property: value;
}*/

body {
	background-image: url(bgi.jpeg);
	background-size: cover;
}	
h2 {
	color: #F6F612;
	border: 5px dashed black;
    cursor: pointer;
    text-align: center;
    background-color: rgba(78,193,220,0.5);
    font-size: 500%
}
p{
color: black;
font-size: 125%;
font-family: 'Roboto', sans-serif;
background-color: rgba(255,255,255,0.3);
}
li{
	display: inline-block;
}
p{
	text-transform: capitalize;
}
img{
	float: right;
}
footer{
	clear: both;
	text-align: center;
	font-size: 150%
}

